.slider {
  white-space: nowrap;
  width: 1200px;
  overflow: scroll;
  border: 1px solid black;
  margin: 20px 0;
}

.sliderContainer {
  position: relative;
  padding: 0 65px;
}

.sensor {
  display: inline-block;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: aqua;
}

body {
  display: flex;
  justify-content: center;
}

.sliderButton {
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: transparent;
}

.sliderButton:hover {
  background-color: rgb(124, 124, 124, 0.5);
}

.sliderButton:disabled {
  display: none;
}

.slideLeft {
  left: 0;
}

.slideRight {
  right: 0;
}

.testHeight {
  height: 200vh;
}
